{
  "discordClientID": "",
  "discordSecret": "",
  "discordCallBack": "https://127.0.0.1/auth/discord",
  "eveClientID": "",
  "eveSecret": "",
  "eveCallBack": "https://127.0.0.1/auth/eve",
  "sessionSecret": "",
  "discordInviteID": "",
  "discordBotToken": "",
  "allianceIDs": [
	null,
	null
  ],
  "corporationIDs": [
	null,
	null
  ]
  "guildID": "",
  "roleID": "",
  "listenIP": "127.0.0.1",
  "listenPort": 5001
}
