{
  "discordClientID": "",
  "discordSecret": "",
  "discordCallBack": "http://127.0.0.1:5000/auth/discord",
  "eveClientID": "",
  "eveSecret": "",
  "eveCallBack": "http://127.0.0.1:5000/auth/eve",
  "sessionSecret": "1234",
  "discordInviteID": "3G6MaAT",
  "discordBotToken": "",
  "allianceID": 99005805,
  "corporationID": null,
  "guildID": 308391532241616896,
  "roleID": 308391687292715020,
  "listenIP": "127.0.0.1",
  "listenPort": 5000
}
